.idea:hover .idea__confirm-button {
  background: url('../../../assets/Confirm_V.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.idea:hover .idea__cancel-button {
  background: url('../../../assets/Cancel_X.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

