.idea {
  width: 100%;
}

.idea__inner {
  display: flex;
}

.idea__content {
  flex-grow: 1;
}

.idea__not-content {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 25px;
  font-size: 14px;
}

.idea__inner > span {
  padding-top: 16px;
}

.idea__button {
  background: none;
  border: none;
}
